(Elementos de layout HTML)

    HTML tem vários elementos semânticos que definem as diferentes partes de uma página da web:
    Elementos Semânticos HTML5: 	

    - <header> - Define um cabeçalho para um documento ou seção
    - <nav> - Define um conjunto de links de navegação
    - <section> - Define uma seção em um documento
    - <article> - Define um conteúdo independente e autocontido
    - <aside> - Define o conteúdo além do conteúdo (como uma barra lateral)
    - <footer> - Define um rodapé para um documento ou seção
    - <details> - Define detalhes adicionais que o usuário pode abrir e fechar sob demanda
    - <summary>- Define um título para o <details>elemento
    