(CSS Margins - Margens)

    As marginpropriedades CSS são usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas.
    Com CSS, você tem controle total sobre as margens. Existem propriedades para definir a margem para cada lado de um elemento (superior, direita, inferior e esquerda).
    Margem - Lados Individuais
    
    CSS tem propriedades para especificar a margem de cada lado de um elemento:
    
        margin-top - Espaçamento superior
        margin-right - Espaçamento lado direito
        margin-bottom - Espaçamento inferior
        margin-left - Espaçamento lado esquerdo
    
    Todas as propriedades de margem podem ter os seguintes valores:
    
        (auto) - o navegador calcula a margem
        (comprimento) - especifica uma margem em px, pt, cm, etc.
        (%) - especifica uma margem em% da largura do elemento que contém
        (herdar) - especifica que a margem deve ser herdada do elemento pai
    
    Dica: valores negativos são permitidos.
    Exemplo
    
    Defina margens diferentes para todos os quatro lados de um elemento <p>:

    p {
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;
    }
    
(Margem - Propriedade abreviada)
    
    Para encurtar o código, é possível especificar todas as propriedades de margem em uma propriedade.
    A marginpropriedade é uma propriedade abreviada para as seguintes propriedades de margem individuais:
    
        margin-top
        margin-right
        margin-bottom
        margin-left
    
    Então, é assim que funciona:
    
    Se a marginpropriedade tiver quatro valores:
    
        margem: 25px 50px 75px 100px;
            a margem superior é 25px
            a margem direita é 50px
            margem inferior é 75px
            a margem esquerda é 100px
    
    Exemplo:
    
    Use a propriedade abreviação de margem com quatro valores:

    p {
      margin: 25px 50px 75px 100px;
    }
    
    Se a marginpropriedade tiver três valores:
    
        margem: 25px 50px 75px;
            a margem superior é 25px
            as margens direita e esquerda têm 50 px
            margem inferior é 75px
    
    Exemplo:
    
    Use a propriedade abreviação de margem com três valores:

    p {
      margin: 25px 50px 75px;
    }
    
    Se a marginpropriedade tiver dois valores:
    
        margem: 25px 50px;
            as margens superior e inferior são 25px
            as margens direita e esquerda têm 50 px
    
    Exemplo:
    
    Use a propriedade abreviação de margem com dois valores:

    p {
      margin: 25px 50px;
    }
    
    Se a marginpropriedade tiver um valor:
    
        margem: 25px;
            todas as quatro margens têm 25px
    
    Exemplo:
    
    Use a propriedade abreviação de margem com um valor:

    p {
      margin: 25px;
    }
    O valor automático
    
    Você pode definir a propriedade margin autopara centralizar horizontalmente o elemento em seu contêiner.
    
    O elemento então ocupará a largura especificada e o espaço restante será dividido igualmente entre as margens esquerda e direita.
    Exemplo:
    
    Use margem: auto:

    div {
      width: 300px;
      margin: auto;
      border: 1px solid red;
    }

    O valor herdado
    
    Este exemplo permite que a margem esquerda do elemento <p class = "ex1"> seja herdada do elemento pai (<div>):
    Exemplo
    
    Uso do valor herdado:

    div {
      border: 1px solid red;
      margin-left: 100px;
    }
    
    p.ex1 {
      margin-left: inherit;
    }
