<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Faculdade Impacta | {% block titulo %}{% endblock %}</title> /*  Titulo do Site  */
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" /> /* icone pequeno do site  */
    <link rel="stylesheet" href="/static/css/site.css" /> /* formatação do CSS usando ele externo */
    <script src="/static/scripts/menu.js" defer></script> /* formatação do JS para o item menu  */
</head>


<body>
    <header class="cabecalho">
        <nav class="navegacao">
            <a href="/">
                /* logo do site */
                <img alt="logo da faculdade Impacta" class="logo" src="/static/imagens/impacta-logo.png" />
            </a>
            /* menu do rodapé do site */
            <a class="item-menu" href="/sobre">Sobre a Faculdade</a>
            <a class="item-menu" href="/contato">Contato</a>
            <div class="dropdown">
                <button class="dropdown-button">
                    Cursos
                    <span class="dropdown-icon"></span>
                </button>
                <div class="dropdown-menu">
                    {% for curso in cursos_menu %}
                        <a class="item-menu" href="/cursos/{{curso.sigla|lower}}">
                            {{curso.nome}}
                        </a>
                    {% endfor %}
                </div>
            </div>
            /* botão de entrar no menu do site  */
            <a class="botao acesso" href="/entrar">Entrar</a>
            <a class="menu-icone" href="#"></a>
        </nav>
    </header>
    <main>
        {% block conteudo %}{% endblock %}
    </main>
    /* footer significa rodapé     */
    <footer class="rodape">
        <ul class="media-list">
            <li>
                <a class="media-link facebook" href="https://www.facebook.com/FacImpacta/" target="blank">Facebook</a>
            </li>
            <li>
                <a class="media-link instagram" href="https://www.instagram.com/faculdadeimpacta/" target="blank">Instagram</a>
            </li>
            <li>
                <a class="media-link linkedin" href="https://www.linkedin.com/edu/faculdade-impacta-tecnologia-161006/" target="blank">Linkedin</a>
            </li>
            <li>
                <a class="media-link twitter" href="https://twitter.com/facimpacta/" target="blank">Twitter</a>
            </li>
            <li>
                <a class="media-link youtube" href="https://www.youtube.com/user/GrupoImpacta/" target="blank">Youtube</a>
            </li>
        </ul>
        <p>2020 Faculdade Impacta 11 3254-8300 Todos os direitos reservados.</p>
    </footer>
</body>
</html>